/*desktop style */
body {
    background-color: lightblue;
    color: white;
    font-family: Helvetica, "Times New Roman", sans-serif;


    /*phone*/

    @media (max-width: 600px) {
        body {
            margin: 6px;
            color: darkblue;
               }
            header{
                font-size: 6px;
                color: gray;
            }
            #name{
                font-size: 8px;
                color: purple;
            }
            }
        }

    /*tablet*/
    @media (max-width: 1200px) {
        body {
        margin: 8px;
        color: white;
           }
        header{
            font-size: 8px;
            color: gray;
        }
        #name{
            font-size: 10px;
            color: pink;
        }
        }



section{
    margin: 10px;
    padding: 20px;
}

#connect ul{
    display: flex; 
    flex-direction: row;
    color:black;
    gap: 2px;
    list-style:none;
    background: #3399ff;
}

#connect ul li{
    
    width: 10px;
    height: 8px;
    border-radius: 11%;
    margin: 9px;
    padding: 9px;
    font-size: smaller;
}
h1{
    font-weight: 300;
    font-family: sans-serif;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    color:aliceblue;
}

#experience ul{
    display: flex; 
    font-size: 10px;
    list-style:none;
    background: #3399ff;
    padding: 5px;
}

#experience ul li{
    background: cce5ff;
    color: darkblue;
    padding: 2px;
    margin: 2px;
    list-style-type: none;
    flex: 1;
}



